<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DvcRawSnapshotReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.globalpeq.debug.DUMP_POWERAMP_DP" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
